h1 {

}

#inputDetails{

}

.boxes {
  width: 20%;
  height: 5%;
  display: inline;

}
form {
    text-align: center;

}

#username {
  margin-left: 1.0%;
  margin-bottom: 1%;
}

#password {
    margin-left: 1.25%;
}

#login {
  background-color: rgba(224, 224, 224, 0.6);
  margin-left: 20%;
  margin-right: 20%;
  border: 1px solid black;
  border-radius: 10px;
}

body {
  font-family: Tahoma;
}
